#Hottest { background: lightpink }

body { background: mediumpurple}
#logo {  height: 200px;}
#hottestGameImg {

    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;

}

.Hottest {

    display:none;
    background-color:lightgrey;
    border-radius: 10px;

}

.container {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-template-rows: 200px 200px;
 }
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;

}

.img-responsive {
    margin: 0 auto;
}

#gameSearchData {

    display:none;

}

#name {display:none;
border: black solid 2px;
    font-size: 50px;
}
#year {display:none;
    border: black solid 2px;
}
#score {display:none;
    border: black solid 2px;
}
#pic {display:none;
    border: black solid 2px;
}
#playingTime {display:none;
    border: black solid 2px;
}