html *
{
    font-family: 'Aldrich', sans-serif;
}

#Hottest { background: lightpink }

#hottestGameImg {

    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;

}

.Hottest {

    padding: 20px;
    background-color: #B0BEC5;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.container {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-template-rows: 200px 200px;
 }
.container2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.img-responsive {
    margin: 0 auto;
}

#gameSearchData {

    display:none;

}

#name {display:none;
border: black solid 2px;
    font-size: 30px;
}
#year {display:none;
    border: black solid 2px;
}
#score {display:none;
    border: black solid 2px;
}
#pic {display:none;
    border: black solid 2px;
}
#playingTime {display:none;
    border: black solid 2px;
}

#searchbox {
    margin-left: 25%;
    margin-right: 25%;

}

.button {

    margin: 5px;
}

.p {

    font-size: 20px;
    color: white;
}

