html *
{
    font-family: 'Aldrich', sans-serif;
}

#Hottest { background: lightpink }

#hottestGameImg {

    border: 2px solid black;
    border-radius: 4px;
    display: block;
    margin: auto;
}

#Hottest {

    padding: 20px;
    background-color: #CFD8DC;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 20px;
}

.img-responsive {
    margin: 0 auto;
}

#gameSearchData {

    display:none;

}

#name {display:none;
    font-size: 20px;
}
#year {display:none;

}
#score {display:none;

}
#pic {display:none;
    text-align: center;
    border: 2px solid #CFD8DC;
    
}
#playingTime {display:none;

}

#searchbox {
    margin-left: 25%;
    margin-right: 25%;

}

.button {

    margin: 5px;
}

.p {

    font-size: 20px;
    color: white;
}

